html,
body {
  @extend [reset];
  @extend .m-0;
}

html {
  font-size: var(--base-font-size);
}

body {
  font-size: 1rem;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend .m-0;
}

ul,
li {
  @extend .m-0;
  @extend .p-0;
  list-style-type: none;
}

figure {
  @extend .m-0;
}
