html,
body,
.MuiButton-root,
button {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
}

@include bp(xsUp) {
  :root {
    --base-font-size: 10px;
    --base-gutter: 4px;
  }
}

// @include bp(smUp) {
//   :root {
//     --base-font-size: 9.38px;
//     -base-gutter: 3.5px;
//   }
// }

@include bp(mdUp) {
  :root {
    --base-font-size: 7px;
    --base-gutter: 0.5px;
  }
}

@include bp(lgUp) {
  :root {
    --base-font-size: 7px;
    --base-gutter: 2.8px;
  }
}

@include bp(lglUp) {
  :root {
    --base-font-size: 8.5px;
    --base-gutter: 3.4px;
  }
}

@include bp(xlUp) {
  :root {
    --base-font-size: 10px;
    --base-gutter: 4px;
  }
}

@each $className, $fontSize in $font-sizes {
  .size-#{$className} {
    font-size: calc(var(--base-font-size) + #{$fontSize});
  }
}

@each $className, $fontWeight in $font-weights {
  .#{$className} {
    font-weight: $fontWeight !important;
  }
}

.size-xiv {
  font-size: 1.4rem;
}

h1,
.h1 {
  @extend .size-lvi;
  @include bp(lgDown) {
    font-size: 4.8rem;
  }

  @include bp(mdDown) {
    font-size: 4rem;
  }
}

.size-xviii-xv {
  font-size: calc(var(--base-font-size) + 0.8rem);
  line-height: calc(var(--base-font-size) + 1rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.5rem);
    line-height: calc(var(--base-font-size) + 0.7rem);
  }
}

.size-xx-xiv {
  font-size: calc(var(--base-font-size) + 1rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.4rem);
  }
}

.size-xxii-xviii {
  font-size: calc(var(--base-font-size) + 1.2rem);
  line-height: calc(var(--base-font-size) + 1.6rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.8rem);
    line-height: calc(var(--base-font-size) + 1.2rem);
  }
}

.size-xxiv-xii {
  font-size: calc(var(--base-font-size) + 1.4rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.2rem);
  }
}

.size-xxv {
  font-size: calc(var(--base-font-size) + 1.5rem);
}

.size-xxiv-xiv {
  font-size: calc(var(--base-font-size) + 1.4rem);
  line-height: calc(var(--base-font-size) + 2.6rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.4rem);
    line-height: calc(var(--base-font-size) + 1.1rem);
  }
}

.size-xxviii-xvi {
  font-size: calc(var(--base-font-size) + 1.8rem);
  line-height: calc(var(--base-font-size) + 3rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 0.6rem);
    line-height: calc(var(--base-font-size) + 1rem);
  }
}

.size-xxxii-xx {
  font-size: calc(var(--base-font-size) + 2.2rem);
  line-height: calc(var(--base-font-size) + 2.8rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 1rem);
    line-height: calc(var(--base-font-size) + 2.3rem);
  }
}

.size-xxxvi-xx {
  font-size: calc(var(--base-font-size) + 2.6rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 1rem);
  }
}

.size-xl-xxiv {
  font-size: calc(var(--base-font-size) + 3rem);
  line-height: calc(var(--base-font-size) + 4.4rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 1.4rem);
    line-height: calc(var(--base-font-size) + 1.8rem);
  }
}

.size-liii-xxx {
  font-size: calc(var(--base-font-size) + 4rem);
  line-height: calc(var(--base-font-size) + 6.5rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 2rem);
    line-height: calc(var(--base-font-size) + 2.5rem);
  }
}

.size-lxxii-lxii {
  font-size: calc(var(--base-font-size) + 6.2rem);

  @include bp(mdDown) {
    font-size: calc(var(--base-font-size) + 4.2rem);
  }
}
