.default-btn {
  min-width: 22.5rem;
  padding-top: calc(var(--base-gutter) * 3);
  padding-bottom: calc(var(--base-gutter) * 3);
  @include bp(mdDown) {
    min-width: 15rem;
  }
}

.download-button {
  max-width: 26rem;
  & + .download-button {
    margin-left: 2.4rem;
  }

  @include bp(mdDown) {
    & + .download-button {
      margin-left: 0;
    }
  }
}

.default-tab-button {
  @extend .flex-grow;
  margin: 4px;
  color: var(--shade30);
  border-radius: 10rem;
  text-transform: inherit;
  padding: calc(var(--base-gutter) * 3);

  &.Mui-selected {
    color: var(--shade0);
    background: var(--tertiary);
    border: 0;
  }
}

.default-tabs {
  .MuiTabs-indicator {
    background: transparent;
  }
}
