.expand-collapse-card {
  // @include bp(lgOnly) {
  //   padding-left: calc(var(--base-gutter) * 10);
  //   padding-right: calc(var(--base-gutter) * 10);
  // }

  .default-card-details {
    display: none;
  }

  .card-title {
    height: 100%;
    padding: 4.4rem 4rem 0 4.8rem;

    // @include bp(lgDown) {
    //   padding: 2.4rem 2rem 0 2.4rem;
    // }

    @include bp(mdDown) {
      padding: 2.4rem 0 0 2.4rem;
    }

    h6,
    label {
      word-break: break-word;
      white-space: normal;
    }
  }
  .active-image {
    padding: 89% 0 0 0;
    visibility: hidden;
    opacity: 0;
  }

  .card-container {
    .virtual-consulation {
      background: url("../../Images/static/virtual-consulation.png");
    }

    .health-plan {
      background: url("../../Images/static/health-care.png");
    }

    .hearty-life {
      background: url("../../Images/static/hearty-life.png");
    }

    .virtual-consulation,
    .health-plan,
    .hearty-life {
      background-size: 66%;
      background-position: bottom right;
      visibility: visible;
      opacity: 1;
      background-repeat: no-repeat;
      height: 48rem;

      @include bp(lglOnly) {
        height: 44rem;
      }

      // @include bp(lgDown) {
      //   background-size: 200px;
      //   height: 36rem;
      // }

      @include bp(mdDown) {
        background-size: 120px;
        height: 14rem;
      }
    }
  }

  .expand-collapse-active {
    .virtual-consulation {
      background-color: var(--quinary);
    }

    .health-plan {
      background-color: var(--tertiary);
    }

    .hearty-life {
      background-color: var(--quaternary);
    }

    .default-card-details {
      display: block;
    }

    h6,
    label {
      color: #fff;
    }

    [class^="arrow-down"] {
      width: 0px;
      height: 0px;
      position: relative;
      margin: 0 auto;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;

      @include bp(mdDown) {
        margin-top: -0.4rem;
      }
    }

    .arrow-down-virtual-consulation {
      border-top: 20px solid var(--quinary);
    }

    .arrow-down-health-plan {
      border-top: 20px solid var(--tertiary);
    }

    .arrow-down-hearty-life {
      border-top: 20px solid var(--quaternary);
    }
  }
  .default-card-block {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);

    // @include bp(mdDown) {
    //   margin: 1.6rem 0;
    // }
  }

  [class^="card-details-"] {
  }

  .card-details-virtual {
    border: 1px solid var(--quinary);
  }

  .card-details-health {
    border: 1px solid var(--tertiary);
  }

  .card-details-hearty {
    border: 1px solid var(--quaternary);
  }
}
