.app-header {
  @extend .no-shadow;
  background: transparent;
  top: 0;
  animation: transparent-header;
  animation-duration: 1s;

  .MuiInput-underline:before {
    content: "";
  }

  .vertical-divider {
    width: 1px;
    height: calc(var(--base-font-size) + 0.8rem);
    background: var(--shade20);
    margin: 0 calc(var(--base-gutter) * 4);
    @include bp(smDown) {
      margin: 0 calc(var(--base-gutter) * 2);
    }
  }
}

.hide-header {
  animation: header-up 0.5s 0s forwards linear;
  transition: top 0.5s;
  top: -150px;
}

.show-header {
  animation: header-down 0.5s 0s forwards linear;
  transition: top 0.5s;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.search-open {
  background: #fff;
  border-radius: 8px;
  position: absolute;
  right: 0;
  width: 100%;
  animation-name: open;
  animation-duration: 2s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.search-close {
  background: transparent;
  border-radius: 0;
  position: static;
  width: auto;
  animation-name: close;
  animation-duration: 1s;
  box-shadow: none;
}

@keyframes header-up {
  0% {
    top: 0;
    background: rgba(255, 255, 255, 0);
  }

  20% {
    background: rgba(255, 255, 255, 1);
  }

  100% {
    top: -150px;
  }
}

@keyframes header-down {
  0% {
    top: -150px;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    top: 0;
    background: rgba(255, 255, 255, 1);
  }
}

@keyframes transparent-header {
  0% {
    background: rgba(255, 255, 255, 1);
  }

  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes open {
  0% {
    width: 200px;
  }
  100% {
    width: 100%;
  }
}

@keyframes solid-background {
  0% {
    background: rgba(255, 255, 255, 0);
    opacity: 0;
  }

  100% {
    background: rgba(255, 255, 255, 0.99);
    opacity: 0.99;
  }
}

@keyframes close {
  0% {
    right: 0;
    background: #fff;
    width: 80%;
    position: absolute;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }

  100% {
    width: 50px;
  }
}
