.image-cover {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  @include bp(lgDown) {
    object-position: right;
  }
}

.default-single-slider {
  .slick-dots {
    bottom: 6.3rem;
    text-align: left;
    left: 10.4%;
    width: auto;

    @include bp(mdDown) {
      visibility: hidden;
      opacity: 0;
    }
  }
  .slick-dots li button:before {
    content: "";
    width: 14px;
    height: 14px;
  }
  .slick-dots li.slick-active button:before {
    background: var(--shade0);
  }

  .slick-dots li button:before {
    border: 1px solid var(--shade0);
    border-radius: 50%;
    opacity: 1;
  }

  .home-slider {
    @extend .relative;

    // h1, h2{
    //   position: absolute;
    //   top: 40%;

    // }
  }
}
