@import "../abstracts/abstracts";

.footer-expansionPanel {
  @extend .no-background;
  @extend .no-shadow;

  &.Mui-disabled {
    background: transparent;

    .MuiExpansionPanelSummary-root.Mui-disabled {
      opacity: 1;
    }

    .MuiExpansionPanelSummary-expandIcon {
      display: none;
    }
  }

  &.MuiExpansionPanel-root.Mui-expanded {
    @extend .my-0;
  }

  .MuiExpansionPanelSummary-content {
    @extend .my-0;
  }

  .MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 3rem;
  }

  .MuiExpansionPanelSummary-expandIcon {
    @extend .p-0;
  }
}
