@import "../abstracts/abstracts";
@import "../base/base";

.who-are-we {
  background: url("../../Images/static/who-are-we-line.png") repeat center
    center/cover;

  @include bp(mdDown) {
    background: url("../../Images/static/who-are-we-hline.jpg") no-repeat center
      center/cover;
  }

  .brand-container {
    justify-content: center;

    li {
      @extend .flex;
      align-items: center;
      max-width: 19.2rem;

      @include bp(mdDown) {
        max-width: 100%;
      }
    }

    li.who-are-center {
      // @extend .mx-10;
      max-width: 37.1rem;
      justify-content: center;
    }

    .center-circle {
      @extend .relative;
    }

    .brand-block:after,
    .center-circle:after {
      content: "";
      border-radius: 50%;
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      background: var(--shade0);
      border: 0.4rem solid var(--primary);
    }

    .right-circle:after {
      right: -0.8rem;
    }

    .left-circle:after {
      left: -0.8rem;
    }

    .bottom-circle:after {
      bottom: 1rem;
      left: 50%;
    }
  }

  .brand-block {
    @extend .relative;
    @extend .flex;
    align-items: center;
    border: 1px solid var(--donary);
    width: 100%;
    height: 8.7rem;
    max-height: 8.7rem;
    padding: 1.4rem 2.2rem;
    border-radius: 0.8rem;
  }
}
