// Media Breakpoints
$xsUp: 0px;
$smUp: 600px;
$mdUp: 960px;
$lgUp: 1280px;
$lglUp: 1440px;
$xlUp: 1920px;
$xsDown: 0px;
$smDown: 600px;
$mdDown: 960px;
$lgDown: 1280px;
$xlDown: 1920px;

@mixin bp($point) {
  @if $point == lglOnly {
    @media screen and (width: $lglUp) {
      @content;
    }
  } @else if $point == xsUp {
    @media screen and (min-width: $xsUp) {
      @content;
    }
  } @else if $point == smUp {
    @media screen and (min-width: $smUp) {
      @content;
    }
  } @else if $point == mdUp {
    @media screen and (min-width: $mdUp) {
      @content;
    }
  } @else if $point == lgUp {
    @media screen and (min-width: $lgUp) {
      @content;
    }
  } @else if $point == lglUp {
    @media screen and (min-width: $lglUp) {
      @content;
    }
  } @else if $point == lgMUp {
    @media screen and (min-width: $lgMUp) {
      @content;
    }
  } @else if $point == xlUp {
    @media screen and (min-width: $xlUp) {
      @content;
    }
  } @else if $point == xsDown {
    @media screen and (max-width: $xsDown) {
      @content;
    }
  } @else if $point == smDown {
    @media screen and (max-width: $smDown) {
      @content;
    }
  } @else if $point == mdDown {
    @media screen and (max-width: $mdDown) {
      @content;
    }
  } @else if $point == lgDown {
    @media screen and (max-width: $lgDown) {
      @content;
    }
  } @else if $point == lglDown {
    @media screen and (min-width: $lglDown) {
      @content;
    }
  } @else if $point == xlDown {
    @media screen and (max-width: $xlDown) {
      @content;
    }
  }
}
