[reset] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.relative {
  position: relative;
}

a.MuiTypography-caption {
  font-size: 2rem;
}

.MuiTypography-caption {
  font-size: 2rem;
}

.align-items-center {
  @extend .flex;
  align-items: center;
}

.no-background {
  background: transparent;
}

.no-shadow {
  box-shadow: none;
}

.color-inherit {
  color: inherit;
}

.size-inherit {
  font-size: inherit;
}

.background-bottom-overlay {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

[font-weight="bold"] {
  font-weight: 700;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.ml-9 {
  margin-left: calc(var(--base-gutter) * 9);
}

.mx-10 {
  margin-left: calc(var(--base-gutter) * 10);
  margin-right: calc(var(--base-gutter) * 10);
}
.mr-10 {
  margin-right: calc(var(--base-gutter) * 10);
}

.ml-md-10 {
  @include bp(mdUp) {
    margin-left: calc(var(--base-gutter) * 10);
  }
}

.ml-xs-3 {
  @include bp(mdDown) {
    margin-left: calc(var(--base-gutter) * 3);
  }
}

.px-xs-4 {
  @extend .px-0;

  @include bp(xsUp) {
    padding-left: calc(var(--base-gutter) * 4);
    padding-right: calc(var(--base-gutter) * 4);
  }
}

.page-divider {
  margin-left: -10.5%;
  margin-right: -10.5%;

  @include bp(smDown) {
    margin: 0;
  }
}

.shade100 {
  color: #000;
}

.shade0-background {
  background: var(--shade0);
}

// Flex Classes
.flex {
  display: flex;
}

.flex-grow {
  @extend .flex;
  flex-grow: 1;
}

.flex-grow-sm {
  @include bp(mdDown) {
    flex-grow: 1;
  }
}

/* Mobile View Classes */

.xs-textAlign-center {
  text-align: left;

  @include bp(lgDown) {
    text-align: center;
  }
}

/********* In Future May be Not Use *************/

// .absolute {
//   position: absolute;
// }

// .w-100 {
//   width: 100%;
// }

// .container-auto-1600 {
//   max-width: 100%;
//   padding: 0 8.85%;
// }

// .p-0 {
//   padding: 0;
// }

// .px-5 {
//   padding-left: calc(var(--base-gutter) * 5);
//   padding-right: calc(var(--base-gutter) * 5);
// }

// .py-3 {
//   padding-top: calc(var(--base-gutter) * 3);
//   padding-bottom: calc(var(--base-gutter) * 3);
// }

// .py-5 {
//   padding-top: calc(var(--base-gutter) * 5);
//   padding-bottom: calc(var(--base-gutter) * 5);
// }

// .py-11 {
//   padding-top: calc(var(--base-gutter) * 11);
//   padding-bottom: calc(var(--base-gutter) * 11);
// }

// .pr-3 {
//   padding-right: calc(var(--base-gutter) * 3);
// }

// .pr-11 {
//   padding-right: calc(var(--base-gutter) * 11);
// }

// .pr-16 {
//   padding-right: calc(var(--base-gutter) * 16);
// }

// .pt-4 {
//   padding-top: calc(var(--base-gutter) * 4);
// }

// .mb-4 {
//   margin-bottom: calc(var(--base-gutter) * 4);
// }

// .no-shadow {
//   box-shadow: none;
// }

// .justify-space-between {
//   @extend .flex;
//   justify-content: space-between;
// }

// .direction-column {
//   @extend .flex;
//   flex-direction: column;
// }
