:root {
  --base-font-size: 10px;
  --base-gutter: 4px;
  --normal: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 900;

  --primary: #5c2d90;
  --tertiary: #50bfa8;
  --quaternary: #f2776b;
  --quinary: #f2b352;
  --denary: #481b7b;
  --donary: #d3dff2;
  --shade100: #000;
  --shade30: #707070;
  --shade20: #8a8a8a;
  --shade0: #fff;
}

// --shade100: #000;
// --shade0: #fff;
// --primary: #5c2d90;
// --secondary: #fdca7b;

$font-sizes: (
  x: "0",
  xi: ".1rem",
  xiv: ".4rem",
  xvi: ".6rem",
  xvii: ".7rem",
  xviii: ".8rem",
  xx: "1rem",
  xxi: "1.1rem",
  xxii: "1.2rem",
  xxiii: "1.3rem",
  xxiv: "1.4rem",
  xxvi: "1.6rem",
  xxviii: "1.8rem",
  xxx: "2rem",
  xxxii: "2.2rem",
  xxxiv: "2.4rem",
  l: "4rem",
  lvi: "4.6rem",
  lxxii: "6.2rem",
  lxxxx: "8rem"
);

/* Font thinkness */
$font-weights: (
  normal: var(--normal),
  medium: var(--medium),
  semi-bold: var(--semi-bold),
  bold: var(--bold),
  extra-bold: var(--extra-bold)
);
